@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font: 'Roboto', sans-serif;
$text-color: rgb(204, 255, 204);
$mgRightMenuName: 10px;
$fontSize: 16px;
$borderColor: 1px solid #ced4da;
$innerShadow: inset 0px 4px 12px -4px #ABABAB;

.wrapper {
    &:nth-child(2) {
        margin-top: 30px;
    }
}

.wrapperTitle {
    background-color: #007bff;
    border-radius: 8px;
    display: flex;
    color: white;

    p {
        margin: 0;
        padding: 15px;
        font-family: $font;
        font-weight: 300;
        font-size: 18px;
    }

    .scanWrapper {
        display: flex;
        margin-left: 30px;

        .scanButton {
            background-color: transparent;
            border: transparent;
            font-size: 25px;

            &:hover {
                color: #fff;
                cursor: pointer;
            }
        }
    }
}

.addGoodsWrapper:nth-child(1) {

    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.61);

}

.addGoodsWrapper {
    margin-top: 1px;
    border-radius: 5px;
    position: relative;


    .goodsTitle {
        position: relative;
        font-family: $font;
        font-weight: 600;
        padding: 12px 20px;
        border-radius: 5px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;

        button {
            width: 10%;
            background-color: #28a745;
            color: white;
            border: transparent;
            border-radius: 7px;
            font-weight: 700;
            cursor: pointer;
        }

   
    }

    .addGoods {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0px 10px 20px;
        position: relative;

        .exportGoodsInputItems {
            text-align: left;
            flex-grow: 4;
            margin-right: 20px;
            width: 100%;

            .exportGoodsInput {
                height: 40px;
                width: 90%;
            }

            .delButton {
                background: transparent;
                border: transparent;
                cursor: pointer;
                color: red;
                font-size: 18px;

                &:hover {
                    color: #F84B24;
                }
            }
        }

        .exportGoodsInputItems1 {
            text-align: left;
            flex-grow: 4;
            margin-right: 20px;
            width: 100%;
            margin-top: 20px;

            td,th {
                padding: 3px;
            }
            .exportGoodsInput {
                height: 40px;
                width: 90%;

                border: $borderColor;
                border-radius: 8px;
                box-shadow: $innerShadow;
                outline: none;
            }
        }

     
    }

    &::after {
        content: '';
        position: absolute;
        border-bottom: 3px groove;
        width: 100%;
        left: 0;
        bottom: 120px;
    }

    .saveButtonWrapper {
        display: flex;
        justify-content: center;
        padding: 50px;

        .saveButton {
            padding: 10px 30px;
            border-radius: 5px;
            background-color: #007bff;
            border: transparent;
            font-size: 18px;
            color: white;
            cursor: pointer;

            &:hover {
                background: rgb(4, 66, 135);
                background: linear-gradient(180deg, rgba(4, 66, 135, 1) 0%, rgba(12, 29, 180, 1) 82%);
            }
        }
    }

    .addButtonWrapper {
        display: flex;
        justify-content: flex-end;

        .addButton {
            padding: 10px 30px;
            border-radius: 5px;
            background: rgb(37, 135, 4);
            background: linear-gradient(180deg, rgba(37, 135, 4, 1) 0%, rgba(21, 180, 12, 1) 0%);
            border: transparent;
            font-size: 18px;
            color: white;
            cursor: pointer;

            &:hover {
                background: rgb(59, 199, 11);
                background: linear-gradient(180deg, rgba(59, 199, 11, 1) 0%, rgba(26, 228, 14, 1) 91%);
            }
        }
    }
}


.addGoodsContent {
    display: flex;
    padding: 10px;
    font-family: $font;

    .addGoodsNote {
        margin-top: 24px;
        border: 1px groove;
        border-radius: 5px;
        position: relative;
        width: 100%;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.61);

        margin-left: 15px;


        .addGoodsNoteTitle {
            position: relative;
            padding: 15px;

            p {
                margin: 0;
            }

            &::after {
                content: '';
                position: absolute;
                border-bottom: 1px groove;
                width: 100%;
                left: 0;
                bottom: 0;
            }
        }

        .addGoodsNoteItemsWrapper {
            padding: 30px;

            p {
                font-weight: 700;
                margin: 8px 0;
            }

            .addGoodsNoteItems {
                display: flex;
                justify-content: space-between;

                .addGoodsNoteItem {
                    width: 100%;
                }
            }
        }

        .addGoodsIDNoteItemsWrapper {
            padding: 30px;


            p {
                margin: 10px 0;
                font-weight: 700;
            }

            #goodID {
                width: 100%;
                height: 40px;
                border: $borderColor;
                border-radius: 7px;
                font-family: $font;
                outline: none;
                margin: 15px 0;
            }

            .addGoodsnoteTableItem {
                width: 70%;
            }
        }
    }
}

.closeButtonWrapper {
    display: flex;
    justify-content: flex-end;
    padding: 8px;

    .closeButton {
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 6px;
        background: rgb(237, 2, 2);
        background: linear-gradient(180deg, rgba(237, 2, 2, 1) 0%, rgba(249, 45, 0, 0.9047355758709734) 79%);

        &:hover {
            cursor: pointer;
            background: rgb(237, 2, 2);
            background: linear-gradient(0deg, rgba(237, 2, 2, 1) 0%, rgba(249, 45, 0, 0.9047355758709734) 79%);
        }
    }
}

.exportGoodsInputItems2 {
    width: 100%;
    margin-top: 20px;
    margin-right: 20px;
    border-collapse: collapse;
    

    td {
        padding: 10px;
        border-bottom: $borderColor;
    }

    .delButton {
        text-align: center;
        background: transparent;
        border: transparent;
        cursor: pointer;
        color: red;
        font-size: 18px;
        box-shadow: none;

        &:hover {
            color: #F84B24;
        }
    }
}