@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font: 'Roboto', sans-serif;
$text-color: rgb(204,255,204);
$mgRightMenuName: 10px;
$fontSize: 16px;
$borderColor: 1px solid #ced4da;
$innerShadow:  inset 0px 4px 12px -4px #ABABAB;

.wrapper {
    border-radius: 8px;
    &:nth-child(2) {
        margin-top: 30px;
    }
    font-family: $font;
}

.wrapperTitle {
    background-color: #007bff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    color: white;

    p {
        margin: 0;
        padding: 15px;
        font-family: $font;
        font-weight: 300;
        font-size: 18px;
    }
}

.addGoodsWrapper:nth-child(1) {

box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.61);

}

.employeeWrapper {
    margin-top: 24px;
    border-radius: 5px;
    position: relative;
    

    .employeeTitle {
        position: relative;
        font-family: $font;
        font-weight: 600;
        padding: 12px 20px;
        border-radius: 5px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;

    }

    .employeeInfoWrapper{
        width: 100%;
        display: flex;

        .employeeBasicInfoWrapper{
            text-align: center;

            .employeeAvatar {
                width: 30%;
                border-radius: 50%;
            }

            .signOutButton{
                background-color: #f02636;
                border: transparent;
                padding: 10px 20px;
                border-radius: 8px;
                font-weight: 700;

                &:hover{
                    cursor: pointer;
                    background: rgb(228,0,0);
                    background: linear-gradient(180deg, rgba(228,0,0,1) 35%, rgba(240,38,54,1) 57%);
                }
                 
                a {
                    text-decoration: none;
                    color: white;
                }
            }

            .employeeInfoParagraph {
                font-weight: 700;
            }
        }

        .employeeInfoContentWrapper{

            .employeeContentWrapper{

                .employeeContentTitle{
                    margin: 8px 0;
                }
               
                .employeeContentInfoWrapper{
                    margin-left: 50px;

                    .employeeContentInfoExpandWrapper{
                        display: flex;
                    }

                    .employeeNoteWrapper{
                        display: flex;
                        align-items: flex-start;
                        margin: 8px 0;

                        .employeeInfoTitle {
                            margin-right: 8px;
                            font-weight: 700;
                        }
                    
                        .employeeInfoParagraph{
                            margin: 10px 0;
                        }

                        #employeeNote{
                            margin: 8px 0;
                            border-radius: 8px;
                            border: $borderColor;
                        }
                    }
                }
            }


        }
    }

}

.employeeInfoContent{
    display: flex;
    align-items: center;
    margin-right: 20px;
    
    .employeeInfoTitle {
        margin-right: 8px;
        font-weight: 700;
    }

    .employeeInfoParagraph{
        margin: 10px 0;
    }

}
