@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font: 'Roboto', sans-serif;
$text-color: rgb(204,255,204);
$mgRightMenuName: 10px;
$fontSize: 16px;
$borderColor: 1px solid #ced4da;
$innerShadow:  inset 0px 4px 12px -4px #ABABAB;


.wrapperTitle {
    background-color: #007bff;
    border-radius: 8px;
    color: white;
    p {
        margin: 0;
        padding: 15px;
        font-family: $font;
        font-weight: 300;
        font-size: 18px;
    }
}

.listGoodsInfoWrapper {
    margin-top: 24px;
    border: 1px groove;
    border-radius: 5px;

    .goodsTitle {
        position: relative;
        font-family: $font;
        font-weight: 600;
        padding: 12px 20px;
        border-radius: 5px;
        font-size: 20px;

        &::after {
            content: '';
            position: absolute;
            border-bottom: 1px groove;
            width: 100%;
            left: 0;
            bottom: 0;
        }   
    }

    .listGoods {
        font-family: $font;
        width: 100%;
        padding: 20px;
        border-radius: 8px;
        
    }
}

.goodEditContainer {
    padding: 20px;

    .goodEditWrapper {
        margin: 25px 0;

        h3 {
            margin: 3px 0 0 0;
        }
        
        .goodEditInputWrapper {
            display: flex;
            justify-content: space-between;

            .goodEditInputItem {
                width: 70%;
                
                p {
                    margin: 7px 0 3px 0;
                    font-weight: 600;
                }

                input {
                    width: 70%;
                    height: 30px;
                    border: $borderColor;
                    border-radius: 8px;
                    box-shadow: $innerShadow;
                    outline: none;

                }
            }
        }

        .goodEditDesc{
            margin-top: 10px;
            width: 100%;
            height: 70px;
            border-radius: 8px;
            border: $borderColor;
            box-shadow: $innerShadow;
            outline: none;
        }
       
    }
    .saveButtonWrapper {
        display: flex;
        justify-content: center;
        padding: 30px;

        .saveButton {
            padding: 10px 30px;
            border-radius: 5px;
            background-color: #007bff;
            border: transparent;
            font-size: 18px;
            color: white;
            cursor: pointer;

            &:hover {
                background: rgb(4,66,135);
                background: linear-gradient(180deg, rgba(4,66,135,1) 0%, rgba(12,29,180,1) 82%);
            }
        }
    }
}

.editIcon {
    &:hover {
        color: #007bff;
        cursor: pointer;
    }
}

.closeButtonWrapper {
    display: flex;
    justify-content: flex-end;
    padding: 8px;

    .closeButton{
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 6px;
        background: rgb(237,2,2);
        background: linear-gradient(180deg, rgba(237,2,2,1) 0%, rgba(249,45,0,0.9047355758709734) 79%);

        &:hover {
            cursor: pointer;
            background: rgb(237,2,2);
            background: linear-gradient(0deg, rgba(237,2,2,1) 0%, rgba(249,45,0,0.9047355758709734) 79%);
        }
    }
}