@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font: 'Roboto', sans-serif;
$text-color: rgb(204,255,204);
$mgRightMenuName: 10px;
$fontSize: 16px;
$borderColor: 1px solid #ced4da;
$innerShadow:  inset 0px 4px 12px -4px #ABABAB;

.wrapper {
    border-radius: 8px;
    border: 1px groove;
    &:nth-child(2) {
        margin-top: 30px;
    }
}

.wrapperTitle {
    background-color: #007bff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    color: white;

    p {
        margin: 0;
        padding: 15px;
        font-family: $font;
        font-weight: 300;
        font-size: 18px;
    }

    .scanWrapper {
        display: flex;
        margin-left: 30px;
        align-items: center;

        input {
            background-color: transparent;
            border: $borderColor;
            font-size: 20px;
            outline: none;
            border-radius: 8px;
            height: 50%;
        }
    }
}

.exportGoodsAutoWrapper {
    margin-top: 24px;
    padding: 10px;
    border: 1px groove;
    border-radius: 5px;
    position: relative;
    display: flex;
    font-family: $font;
    justify-content: space-between;

    .exportGoodsInputItems {
        text-align: left;
        flex-grow: 4;
        margin-right: 20px;

        .exportGoodsInput {
            height: 40px;
            width: 90%;
        }

        .delButton {
            background: transparent;
            border: transparent;
            cursor: pointer;
            color: red;
        }
    }

    .exportGoodsInputItems, th, td {
        height: 60px;
        font-size: 17px;
        border: transparent;

        .exportGoodsInput {
            border: $borderColor;
            border-radius: 8px;
            box-shadow: $innerShadow;
        }
        tr:nth-child(odd) {
            background-color: #fff;
        }
    }

    .exportGoodsInputBillWrapper{
        flex-grow: 2;
        border: $borderColor;
        border-radius: 8px;
        padding: 12px;
        -webkit-box-shadow: 2px 3px 6px -1px rgba(0,0,0,0.61); 
        box-shadow: 2px 3px 6px -1px rgba(0,0,0,0.61);
        background: url(../../../../../assets/layoutImg/opacitylogo.png);
        
        .exportGoodsInputBillTitle {
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            margin: 0px;
        }
        .exportGoodsInputBillDate{
            text-align: right;

            span {
                font-weight: 700;
            }
        }

        .exportGoodsInputBillItems {
            display: flex;
            align-items: center;
            margin: 15px 0 0 0;
        }

        .exportGoodsInputBillItem{
            width: 100%;
            padding: 10px 5px;
            display: flex;
            flex-direction: column;


            .exportGoodsInputBillItemTitle {
                font-weight: 700;
                margin: 0;
                margin-bottom: 10px;
            }

            .exportGoodsInputBillItemInput {
                width: 100%;
                height: 40px;
                border: $borderColor;
                border-radius: 7px;
                box-shadow: $innerShadow;
            }
        }

        .exportGoodsInputBillTable {
            width: 100%;
            text-align: left;
            border-collapse: collapse;

            th,td {
                border-bottom: $borderColor;
            }

            tr:nth-child(odd) {
                background-color: #fff;
            }

        }

        .exportGoodsInputBillTable,th,td {
            height: 40px;
            margin: 15px 5px;
        }

        .saveButtonWrapper {
            display: flex;
            justify-content: center;
            padding: 20px;
    
            .saveButton {
                padding: 10px 30px;
                border-radius: 5px;
                background-color: #007bff;
                border: transparent;
                font-size: 18px;
                color: white;
                cursor: pointer;
            }
        }
    }

}