@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font: 'Roboto', sans-serif;
$text-color: rgb(204,255,204);
$mgRightMenuName: 10px;
$fontSize: 16px;


html, body{
    width:100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border:none;
}

* {
    box-sizing: border-box; 
}

.container{
    width: 100%;
    display: flex;

}

.gridColumn2{
    position: relative;
    width: 16.6667%;
    min-height: 100%;
    background-color: #343a40;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        border-bottom: 1px groove #e5e5e5 ;
        width: 95%;
        top: 89px;
        left: 8px;
    }
    &::before {
        content: '';
        position: absolute;
        border-bottom: 1px groove #e5e5e5 ;
        width: 95%;
        top: 163px;
        left: 8px;
    }
}

.gridColumn10{
    width: 83.3333%;
    background-color: #fdfffe;
    min-height: 100vh;
}


.pageLogo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 20px;

    .logoIcon {
        width: 70px;
        margin-right: $mgRightMenuName;
    }
}

.userAdmin {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 20px;

    .userIcon {
        width: 55px;
        border-radius: 50%;
        margin-right: $mgRightMenuName;
    }
}

.pageName {
    font-size: 20px;
    font-weight: bold;
    color: $text-color;
    font-family: $font;
}

.pageNameUser {
    font-size: 18px;
    font-weight: bold;
    color: $text-color;
    font-family: $font;
}

.pageMenuWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 20px;
}

.pageMenuItems{
    width: 100%;
    font-size: $fontSize;
    font-family: $font;
    color: #fff;

    .pageMenuItemsLink,  .pageSubMenuItemsLink {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color: #fff;
        padding: 0 10px; 

        p {
            margin-left: 10px;
        }

        .pageMenuItemsName {
            display: flex;
            align-items: center;
        }        
    }

    .pageMenuItemsLink:hover, .pageSubMenuItemsLink:hover {
        color: #669cc7;
        background-color: #494e53;
        border-radius: 5px;
    }

    .pageMenuItemsLink.active, .pageSubMenuItemsLink.active{
        color: #669cc7;
        background-color: #494e53;
        border-radius: 5px;
    }

    .pageSubMenuItems {
        display: flex;
        align-items: center;
        color: #fff;
        margin-left: 40px;

         p {
             margin-left: 10px;
         }

         &:hover{
             color: #669cc7;
         }

         &.active {
             color: #669cc7;
                background-color: #494e53;
                border-radius: 5px;
         }
    }
}



