@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font: 'Roboto', sans-serif;
$text-color: rgb(204, 255, 204);
$mgRightMenuName: 10px;
$fontSize: 16px;
$borderColor: 1px solid #ced4da;
$innerShadow: inset 0px 4px 12px -4px #ABABAB;


.wrapperTitle {
    background-color: #007bff;
    border-radius: 8px;
    color: white;

    p {
        margin: 0;
        padding: 15px;
        font-family: $font;
        font-weight: 300;
        font-size: 18px;
    }
}

.listGoodsInfoWrapper {
    margin-top: 24px;
    border: 1px groove;
    border-radius: 5px;
    box-shadow: 0px 0px 23px -6px rgba(0, 0, 0, 0.55);


    .goodsTitle {
        position: relative;
        font-family: $font;
        font-weight: 600;
        padding: 12px 20px;
        border-radius: 5px;
        font-size: 30px;

        &::after {
            content: '';
            position: absolute;
            border-bottom: $borderColor;
            width: 100%;
            left: 0;
            bottom: 0;
        }
    }

    .listGoods {
        font-family: $font;
        // width: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;

        .listGoodsWrapper {
            margin: 10px;
            width: 20.2222%;
            border: $borderColor;
            border-radius: 7px;
            border-top: 3px solid #28a745;
            -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.61);
            box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.61);

            .listGoodsHeader {
                position: relative;
                padding: 12px 20px;
                font-size: 18px;

                p {
                    margin: 0;
                }

                &::after {
                    content: '';
                    position: absolute;
                    border-bottom: $borderColor;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                }

                .ribbonWrapper {
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    right: 0;
                    top: 0;
                    overflow: hidden;

                    .ribbon.on {
                        right: 22px;
                        top: 26px;
                        width: 160px;
                        box-shadow: 0 0 3px rgb(0 0 0 / 30%);
                        font-size: 12px;
                        color: white;
                        line-height: 100%;
                        padding: .375rem 0;
                        position: relative;
                        text-align: center;
                        text-shadow: 0 -1px 0 rgb(0 0 0 / 40%);
                        text-transform: uppercase;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        background-color: #28a745 !important;
                        z-index: 1;
                    }

                    .ribbon.off {
                        right: 22px;
                        top: 26px;
                        width: 160px;
                        box-shadow: 0 0 3px rgb(0 0 0 / 30%);
                        font-size: 12px;
                        line-height: 100%;
                        padding: .375rem 0;
                        position: relative;
                        text-align: center;
                        text-shadow: 0 -1px 0 rgb(0 0 0 / 40%);
                        text-transform: uppercase;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        background-color: #ffc107 !important;
                        z-index: 1;
                    }
                }

            }

            .listGoodsBody {
                margin: 0;
                width: 100%;
                padding: 0 16px 16px 16px;

                .listGoodInfoWrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    .listGoodInfoItem {

                        .listGoodInfo {
                            display: flex;
                            align-items: center;

                            span {
                                font-weight: 700;
                            }

                            p {
                                margin: 7px 0;
                            }
                        }
                    }

                    img {
                        width: 35%;
                        padding: 8px 8px 8px 0;
                    }

                    span {
                        margin-right: 8px;
                    }
                }

                .listGoodSpecificationWrapper {

                    h3 {
                        margin: 15px 0 3px 0;
                    }

                    .listGoodSpecificationItem {
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;

                        .listGoodSpecification {
                            display: flex;
                            align-items: center;

                            span {
                                font-weight: 700;
                                margin-right: 5px;
                            }

                            p {
                                margin: 3px 0 3px 0;
                            }
                        }
                    }
                }
            }

            .listGoodsFunctionButton {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                background-color: rgba(0, 0, 0, .03);

                button {
                    margin: 4px 8px;
                    border: transparent;
                    background-color: transparent;
                    cursor: pointer;

                    &:hover {
                        color: #007bff;
                    }
                }
            }
        }

        @media screen and (max-width: 1024px) {
            .listGoodsWrapper {
                width: 100%;
                display: block;
            }
        }

        @media screen and (min-width: 1024px) and (max-width: 1817px) {
            .listGoodsWrapper {
                width: 31.5%;
            }
        }
    }
}

.goodEditContainer {
    padding: 20px;

    .goodEditWrapper {
        margin: 25px 0;

        h3 {
            margin: 3px 0 0 0;
        }

        .goodEditInputWrapper {
            display: flex;
            justify-content: space-between;

            .goodEditInputItem {
                width: 70%;

                p {
                    margin: 7px 0 3px 0;
                    font-weight: 600;
                }

                input {
                    width: 70%;
                    height: 30px;
                    border: $borderColor;
                    border-radius: 8px;
                    box-shadow: $innerShadow;
                    outline: none;

                }
            }
        }

        .goodEditDesc {
            margin-top: 10px;
            width: 100%;
            height: 70px;
            border-radius: 8px;
            border: $borderColor;
            box-shadow: $innerShadow;
            outline: none;
        }

    }

    .saveButtonWrapper {
        display: flex;
        justify-content: center;
        padding: 30px;

        .saveButton {
            padding: 10px 30px;
            border-radius: 5px;
            background-color: #007bff;
            border: transparent;
            font-size: 18px;
            color: white;
            cursor: pointer;

            &:hover {
                background: rgb(4, 66, 135);
                background: linear-gradient(180deg, rgba(4, 66, 135, 1) 0%, rgba(12, 29, 180, 1) 82%);
            }
        }
    }
}

.closeButtonWrapper {
    display: flex;
    justify-content: flex-end;
    padding: 8px;

    .closeButton {
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 6px;
        background: rgb(237, 2, 2);
        background: linear-gradient(180deg, rgba(237, 2, 2, 1) 0%, rgba(249, 45, 0, 0.9047355758709734) 79%);

        &:hover {
            cursor: pointer;
            background: rgb(237, 2, 2);
            background: linear-gradient(0deg, rgba(237, 2, 2, 1) 0%, rgba(249, 45, 0, 0.9047355758709734) 79%);
        }
    }
}

.listGoodsImg {
    border-radius: 50%;
}